[build]
target = "index.html"
dist = "dist"

[[hooks]]
stage = "post_build"
command = "echo"
command_arguments = ["Skipping wasm-opt"]

[watch]
ignore = ["dist"]

[serve]
address = "127.0.0.1"
port = 1420
